<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Page Title</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/Css/adminHome.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


</head>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="card cardstyle ">
				<img style="max-width: 100px;" th:src="@{/images/man.png}">
				12345 <br>
				Users
			</div>
		</div>
		<div class="col-md-4" data-toggle="modal" data-target="#exampleModal1">
			<div class="card cardstyle">
				<img style="max-width: 100px;" th:src="@{/images/add.png}">

				12345 <br>
				Add Subject
			</div>
		</div>
		<div class="col-md-4" data-toggle="modal" data-target="#exampleModal">
			<div class="card cardstyle">
				<img style="max-width: 100px;" th:src="@{/images/evaluate.png}">
				545<br>
				Add Topic
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="card cardstyle">
				<img class="img-fluid" style="max-width: 150px; align-items: center;" th:src="@{/images/AllSub.png}">
				884348 <br>
				All Subject
			</div>
		</div>
		<div class="col-md-6">
			<div class="card cardstyle">
				<img style="max-width: 150px;" th:src="@{/images/AllTopic.png}">
				73434 <br>
				All Topic
			</div>
		</div>
	</div>


</div>



<!-- Add topic-->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<img class="img-fluid" style="max-width: 30px; align-items: center;">

				<h5 class="modal-title" id="exampleModalLabel">Add Topic</h5>


				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1"> Name</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
							placeholder="Enter title">
					</div>
					<div class="form-group">
						<label for="cars">Choose a Subject:</label>
						<select name="cars" style="width: 100px;" id="cars">
							<option value="volvo">Volvo</option>
							<option value="saab">Saab</option>
							<option value="opel">Opel</option>
							<option value="audi">Audi</option>
						</select>
					</div>



					<div class="form-group">
						<label for="exampleInputPassword1">Description</label>
						<textarea class="form-control" style="min-height: 150px;" id="exampleInputPassword1"
							placeholder="Enter here"></textarea>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<butto type="submit" class="btn btn-primary">Add</butto>
			</div>
		</div>
	</div>
</div>


<!-- Add subject module-->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="form modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<img class="img-fluid" style="max-width: 30px; align-items: center;">

				<h5 class="modal-title center-align" id="exampleModalLabel">Add Subject</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class=" modal-body">
				<h5 class="center-align text-success"  id="msg"></h5>
								<h5 class="center-align text-danger" id="msgerr"></h5>


				<form th:action="@{/admin/Add/Subject}" method="POST" id="register">
					<div class="form-group">
						<label for="exampleInputEmail1">Name</label>
						<input type="text" name="name" class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp" placeholder="Enter name">
					</div>
					<div class=" modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save </button>
					</div>

				</form>
			</div>

			<div class="loader center-align" style="margin-top: 20px; display: none;">
				<div class=" loader spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		console.log("page is ready")

		$("#register").on('submit', function (event) {
			console.log("hii")
			event.preventDefault();
			var f = $(this).serialize();
			console.log(f);


			$.ajax({
				url: "/admin/Add/Subject",
				type: 'POST',
				data: f,
				success: function (data, textStatus, jqXHR) {
					console.log("sucessss")
					$("#msg").html("Successfully Registered !!")
				    $("#msg").delay(3000).fadeOut('slow');


				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log("errorrr")

					$("#msgerr").html("Something went wrong !!")


				}
			})

		})

	})

</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</body>

</html>